{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Favicons -->
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Amatic+SC:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">

</head>
<body>
    <h1>Sign In Now</h1>

    <style>
        h5{
            color: red;;
        }
        a{
            background: var(--color-primary);
            border: 0;
            padding: 14px 60px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;
        }
        input{
            background: var(--color-primary);
            border: 0;
            padding: 14px 60px;
            color: #fff;
            transition: 0.4s;
            border-radius: 50px;

        }
    </style>
    {% for message in messages %}
        <h5>{{ message }}</h5>
    {% endfor %}

    <form action="login" method="POST" class="form-group">
        {% csrf_token %}
        <input type="text" name="username" class="form-control" id="username" placeholder="Username" required/><br>
        <input type="text" name="password" class="form-control" id="password" placeholder="Password" required><br>
        <input type="submit">
    </form>
    <br>
    <a href="register" class="btn-book-a-table">Create new account</a>
</body>
</html>